<% @shot.comments.each do |comment| %>
  <div>
    <p style="display: inline"><strong><%= comment.user.name %>: </strong><%= comment.reply %></p>
    <% if user_signed_in? && comment.user_id == current_user.id %>
      <button style="display: inline"><%= link_to 'Delete', [comment.shot, comment], method: :delete, data: { confirm: 'Are you sure?' } %></button>
    <% end %>
  </div>
<% end %>